.our-chefs {
  @apply container  mx-auto;
  &__title {
    @apply uppercase text-center text-gray-900 text-6xl font-bold mb-5;
  }
  &__subtitle {
    @apply text-center block uppercase text-red-600 relative mb-12;

    width: 550px;
    font-size: 18px;
    letter-spacing: 4px;
    margin: 0 auto;
    &:before {
      @apply bg-gray-500 absolute left-0 h-px w-24;
      content: "";
      top: 12px;
    }
    &::after {
      @apply bg-gray-500 absolute right-0 h-px w-24;
      content: "";
      top: 12px;
    }
  }
  &__content {
    @apply p-6 m-3 shadow-lg text-center;
    h3 {
      @apply text-2xl font-bold text-gray-900 mt-5 mb-2;
    }
    p {
      @apply text-lg text-gray-700;
    }
  }
}
