.resturant-slider {
  @apply shadow-lg rounded rounded-lg p-4;
  margin-left: 20px;
  margin-bottom: 30px;
  .slider-img {
    @apply border border-orange-200 rounded rounded-lg;
    width: 320px;
    height: 180px;
    object-fit: contain;
  }
}
