@import "./mobile-featured";
@import "./courier-form";
@import "./food_time_card.scss";
@import "./food_time_card";
@import "./food-category_list";
@import "./review-form";
// @import "./about-us";
// @import "./our-chefs";
@import "./review-content";
@import "./rider-profile";
@import "./_contactUs";
@import "./offerModal";
@import "./aboutUs";
@import "./resturant_slider";
