.single-card {
  @apply border rounded-lg border-gray-200 p-7  hover:shadow-lg hover:bg-orange-50;
  position: relative;
  transition: all 0.3s;
  button {
    @apply bg-yellow-500 font-bold text-black hover:text-white text-xl px-6 py-3 rounded-xl duration-500 hover:bg-black;
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: 100px;
    transition: all 0.3s;
  }
}
.single-card:hover {
  button {
    opacity: 1;
    transform: translateY(20px);
  }
}

.single-card-horizontal {
  display: flex;
  align-items: center;

  button {
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: 100px;
    left: 30px;
    transition: all 0.3s;
  }
}
